@tailwind base;
@tailwind components;
@tailwind utilities;




/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap'); */

@font-face {
  font-family:'Roboto'; ;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
}

body {
  /* @apply h-full overflow-x-hidden; */
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}
.main-page {
  height: calc(100vh);
}
.main-page-2 {
  height: calc(100vh - 25vh);
}